
/*=== GENERAL-SETTINGS ===*/

@font-face {
    font-family: 'nexa_light';
    src: url('../fonts/nexa_light.woff2') format('woff2'),
    url('../fonts/nexa_light.woff') format('woff'),
    url('../fonts/Nexa Light.otf'),
    url('../fonts/Nexa Bold.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_bold';
    src: url('../fonts/nexa_bold.woff2') format('woff2'),
         url('../fonts/nexa_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal; 

}


.mR25{margin-right:25px;}
.border-none{border:none !important;}

/*-- TEXT-COLORS --*/

.txt-color-black{color:#000000 !important;}
.txt-color-white{color:#fff !important;}
.txt-color-gray{color:#c1c1c1 !important;}
.txt-color-theme{color:#ca1f53 !important;}

/*-- BACKGROUND-COLORS --*/
.theme-bg { background-color: #003f6f;}
/*.theme-bg{background:#c81e51 url(../img/main.png) !important;background-repeat: no-repeat !important;background-position: center !important;}*/
/*.bmd-spcl-theme{background:#f3f3f3 url(../img/spclitylisting.png) !important;background-repeat: no-repeat;background-position: cover !important;background-repeat: no-repeat;}*/
 
.bmd-splash-bg{background:#ffffff url(../img/bmd-Splash-bg.png)!important;background-repeat: no-repeat !important;background-position:center !important;}
.booked-bg{background:#ea6a91 !important;cursor: not-allowed !important;}
.slct-bg{background:#ca1f53 !important;}
.bg-color-gray{background: #ababab !important;}

/*-- BUTTONS --*/

.common-button{padding-left:5px !important;padding-right:5px !important;}
.bmd-head{text-align:left;width:100%;padding-left: 10px;}
.bmd-head img{padding-left:0px;width:112px;}
.bmd-search-bar-outer{background:#ffffff;width:100%;border-radius:3px;display: inline-flex;}
.bmd-input{width:100%;margin-top: 5px;}
.bmd-bg-sec2{width:100%;text-align:center;}
.bmd-listing{border:0px solid #fff;border-radius:4px;width:100%;display:inline-flex;padding: 5px;margin-bottom:0px;}
.bmd-list{}
.bmd-list-icon{width:20%;padding-top: 5px;padding-left: 7px;}
.bmd-list-details{width:60%;color:#ffffff;font-size:20px;padding-top: 3px;}
.bmd-list-details p{font-size:15px;}
.bmd-forward{width:20%;text-align:right;padding-top: 10px;}
.bmd-spclity-head{text-align-left;width:100%;font-size: 15px;padding-left: 13px;padding-top: 5px;}
.bmd-spcl-list{}
.bmd-spcl-listing{


     font-family: 'helvetica';
    src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
     font-weight: 600;
  border:1px solid #002C5B; text-align: center;color:#f3f3f3;font-size: 16px;padding: 15px;background: transparent;font-family: helvetica;}
.bmd-spcl-listing:hover{background:#e48c08 !important;color:#fff !important;}
.bmd-title-logo{text-align:center;padding-top: 0px;padding-bottom: 25px;}
.bmd-title-logo2{text-align:center;padding-top: 0px;padding-bottom: 0px;padding-top: 0px;}
/*.bmd-title-logo img{    width: 200px;height: 65px;}*/
.bmd-usr-wrapper{/*padding: 35px;padding-top: 10px;*/   padding-top: 0px;color: #fff; background:#002B4D}
.bmd-usr{width:95%;margin-left: 11px; margin-bottom: 20px;text-align:center;display:inline-flex;border: 0px solid #fff;border-radius: 6px;margin-bottom: 0px;}
.bmd-usr-input{text-align:left !important;height: 35px !important; border-radius:0 5px 5px 0 ; width:100% !important;;background:transparent;color:#fff !important;padding-left:9px !important;}
.bmd-frgtpass{width: 100%;text-align: center;font-style: italic;color:#fff;}
.bmd-usr1{border-right: 0px solid #FFF;padding:8px;}
.bmd-main-btn{width:100%;background:#fff;color:#515151; text-align:center;border:1px solid transparent;margin-bottom:5px;margin-top:12px;padding:8px;font-size:15px;}
.bmd-fb-btn{width:100%;background:#49639f!important;color:#515151;border-radius:8px;border:1px solid transparent;margin-bottom:5px;margin-top:12px;padding:8px;font-size:15px;}
.bmd-ggle-btn{width:100%;background:#df4a32 !important;color:#515151;border-radius:8px;border:1px solid transparent;margin-bottom:5px;margin-top:12px;padding:8px;font-size:15px;}
.bmd-social{margin-top: 40px;}
.bmd-usr2{width: 100%;}
.bmd-check{}
.bmd-agree{text-align: center;font-weight: 600;font-size: 15px;}
.bmd-splash-logo{width:100%;text-align:center;margin-top:180px;}
.bmd-splash-logo img{width:200px;}
.bmd-appmnt-wrapper{}
.bmd-app-cover{background:#89999e url(../img/bmd-app-top-bg.png) no-repeat;background-position:center;min-height:265px;}
.bmd-app-row{position:relative;display: inline-flex;width: 100%;top: 115px;padding-left: 10px;padding-right: 10px;}
.bmd-prof-pic{text-align: -moz-center;border-radius: 50%;border: 3px solid rgb(255, 255, 255);padding:2px;height:130px;}
.bmd-prof-pic-circle{height: 120px;width: 120px;background: #FFF  no-repeat scroll center center;border-radius: 50%;}
.bmd-prof-name{text-align:left;width:100%;padding: 20px;}
.bmd-prof-name h3{color:#fff;font-weight:600;font-size: 22px;}
.bmd-prof-name p{color:#fff;font-size: 22px;}
.bmd-prof-rate{}
.bmd-prof-pic1{border: 4px solid #FFF;padding: 3px;border-radius: 100px;}
.bmd-row2{padding: 15px;}
.bmd-phone{width:100%;color:#fff;font-size: 18px;display: inline-flex;padding:10px}
.bmd-phone img{width:22px;}
.bmd-loc{width:100%;color:#fff;font-size: 18px;display: inline-flex;padding:10px;}
.bmd-loc img{width:16px;}
.bmd-loc-details{padding-left: 10px;}
.bmd-phone-details{padding-left: 10px;}
.bmd-row3{width:100%;text-align:center;padding: 50px;}
.bmd-apponmnt-button {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.bmd-review-wrapper{padding:5px;}
.bmd-review-inner{border:2px solid #fff;border-radius: 8px;}
.bmd-review-head{color:#fff;text-align:center;font-size:20px;padding:10px;width:100%;}
.bmd-review-comment{background:#fff;width:100%;list-style: none;}
.bmd-review-box{width:100%;padding:5px;display: inline-flex;border-bottom:1px solid #b2b2b2;color:#000000;font-size:15px;}
.bmd-review-box b{color:#494949 !important;}
.bmd-review-box p{font-size:14px !important;color:#525252;}
.bmd-review-box1 img{border:1px solid #989898;}
.bmd-review-box2{padding-left: 10px;}
.bmd-results-date{width:100%;color:#fff;font-size:20px;display: inline-flex;}
.bmd-results-wrapper{padding:5px;width:100%;list-style:none;}
.bmd-result-row{width:100%;background: rgba(255, 255, 255, 0.5);padding:5px;margin-bottom: 10px;}
.bmd-result-profpic{width:140px; height:99px;}
.bmd-result-details{text-align:left;width:100%;padding-left: 10px;}
.bmd-result-details h3{color:#fff;font-weight:600;font-size: 16px;margin:0px;}
.bmd-result-details h4{color:#fff;font-weight:400;font-size: 14px;margin:0px;}
.bmd-result-details p{color:#343434;font-size: 12px;}
.bmd-result-dstnce{width:40%;text-align:right;color:#fff;padding-top: 76px;font-size: 16px;}
.bmd-result1{width:100%;display:inline-flex;}
.bmd-result2{width:100%;display:inline-flex;}
.bmd-result-sch{Background:#fff;color:#343434;text-align:center;border-radius:3px;width: 100%;padding: 4px;margin: 2px;font-size: 12px;}
.bmd-calender{width:100%;border:2px solid #fff;border-radius:10px;padding-bottom: 10px;float: left;}
.bmd-result-schedules{}
div.bmd-sch-row{width:100%;display:inline-flex;list-style:none;}
ul.bmd-sch-row{width:20%;display:block;list-style:none;float:left;}
.bmd-sch-row1{width:100%;list-style:none;}
.bmd-sch{width:100%;text-align:center;cursor:pointer;background:#ababab;border:1px solid #fff;color:#fff;padding: 7px;font-size: 11px;padding-top: 10px;padding-bottom: 10px;}
.bmd-appmnt-tab{background: #fff;margin-top:3px;list-style: none;}
.bmd-appmnt-tab ul{display:inline-flex;width:100%;}
.bmd-appmnt-tab li{width:100%;text-align: center;font-size: 16px;padding: 10px;}
.bmd-appmnt-tab-current{background: #ca1f53;border:2px solid #fff;color:#fff;}
.bmd-appmnt-content{}
.bmd-appmnt-content-head{padding:15px;border-bottom:1px solid #d7557c;}
.bmd-appmnt-content-head h1{color:#fff;font-size: 20px;margin: 0px;}
.bmd-appmnt-content-details{text-align: center;color:#fff;padding-top:15px;}
.bmd-appmnt-content-check{width:100%;text-align:center;padding: 60px 40px 30px;}
.bmd-appmnt-content-check-inner{width:100%;color:#fff;font-size: 13px;}
.checkbox-custom, .radio-custom {opacity: 0;position: absolute;}

 

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {display: inline-block;margin: 4px;cursor: pointer;}
.checkbox-custom-label, .radio-custom-label {position: relative;}
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {content: '';background: #fff;border-radius:0px;text-align: left;border: 2px solid #b3b3b3;display: inline-block;vertical-align: middle;width: 22px;height: 22px;margin-right: 22px;text-align: center;}
.checkbox-custom:checked + .checkbox-custom-label:before {
 
 font-family: "FontAwesome";
        color: #FE9A00 !important;
    font-weight: normal;
    font-style: normal;
  content: '\f00c'; background: #fff;color: #F5A623;border:2px solid #B3B3B3;}
.radio-custom + .radio-custom-label:before {border-radius: 50%;}
.radio-custom:checked + .radio-custom-label:before {
  src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
      src:url('fonts/fontawesome-webfont.otf');
        color: #f5a623 !important;
    font-weight: normal;
    font-style: normal;
  content: '⚫';font-family: 'helvetica';color: #ca1f53;}
.bmd-appnmnt1{color:#fff;text-align: left;}
.bmd-appnmnt1 p{color:#fff;}
.bmd-appmnt-content-details h4{text-align:left;color:#fff;margin:0px;}
.bmd-appmnt-content-details p{ text-align:left;}
.bmd-appnmnt2 h5{color: #FFF;font-weight:700;padding-left: 4px;margin-bottom: 10px;}
.bmd-appnmnt2{padding: 60px;padding-top:30px;color: #fff;font-size: 17px;}
.bmd-dob{display: inline-flex;color:#fff;width:100%;}
.bmd-day{border: 1px solid #fff !important;background: transparent !important; border-radius: 5px;width:100%;text-align: center;padding: 5px;margin: 12px;}
.bmd-appnmnt4{padding:5px;}
.bmd-appnmnt-sch{color:#fff;text-align: center;padding:10px;}
.bmd-appnmnt4-inner{padding: 60px 60px 15px;color: #fff;font-size: 15px;}
.bmd-appnmnt4-inner h5{color:#fff;font-weight: 700;}
.bmd-style{-moz-appearance: none;-webkit-appearance:none; width:100%;margin-bottom: 20px;border:1px solid #f8f8f8;border-radius:5px;padding: 5px;color:#858585;font-size: 15px;padding-left:10px;background:#f8f8f8 url("../img/dmd-drop.png") no-repeat scroll right center;}
.bmd-sch1{width:100%;text-align:center;background:#ababab;border:1px solid #fff;color:#fff;padding:2px;font-size: 12px;padding-top: 2px;padding-bottom: 2px;}
.bmd-sch2{cursor: pointer;min-height: 52px;float:left;width:14.28%;text-align:center;background:#ababab;border:1px solid #fff;color:#fff;padding:2px;padding-top: 15px;padding-bottom: 15px;font-size: 25px;font-weight: 400;}
.bmd-bookng-cnfirmation{padding:60px;text-align:center;}
.bmd-bookng-cnfirmation h1{text-align:center;color:#fff;font-size:16px;font-weight:600;}
.bmd-bookng-cnfirmation p{text-align:center;color:#fff;font-size:12px;}
.bmd-overlay{padding-top: 200px;height:100%;width:100%;position:absolute;min-height:720px;left: 0px;top: 0px;bottom: 0px;right: 0px;background: rgba(0, 0, 0, 0.8);text-align:center;}
.bmd-overlay h1{color:#fff;font-size:20px;}

/*RATTING*/

.rating {margin-top: 25px;overflow: hidden;display: inline-block;}
.rating-input {position: absolute;left: 0;top: -50px;}
.rating-star {display: block;float: right;width: 16px;height: 16px;background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;}
.rate{margin-top: 6px;}
.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {background-position: 0 0;}
.rating input[type="checkbox"], .rating input[type="radio"] {line-height: normal;margin: 4px 0 0;display: none;}

/* written by developer */
.sign_form {
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
}
.bmd-spcl-listing a {
  background: transparent none repeat scroll 0 0 !important;
  padding: 0 !important;
}
.bmd-field.error {
color: #fff;
  padding: 0 0 4px 22px;
}

.bmd-frgtpass > i {
  cursor: pointer;
}

button[disabled]{
  background: #cccccc none repeat scroll 0 0;
  cursor: not-allowed;
}
.error_block {
  background: #fe9a00 none repeat scroll 0 0;
  border: 0px solid #ffbaba;
  border-radius: 0px;
  color: #d8000c;
  padding: 6px;
  margin-bottom: 0px;
    overflow: hidden;
       width: 100%;
}
.success_block {
  background: #fe9a00 none repeat scroll 0 0;
  border: 0px solid #fff;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 5px;
  padding: 10px;
}
.selected{
  background: #C81E51;
  color: #fff;
}
.loader_div{
  text-align: center;
}
.ispinner .spinner {
    stroke: #fff;
    fill: #fff;
}
.spinner svg {
  width: 50px;
  height: 50px;
}

.bmd-result-profpic img {
  height: 100%;
  width: 100%;
}
.bmd-result2 .bmd-result-sch{Background:#eeb1c3;color:#343434;text-align:center;border-radius:3px;width: 100%;padding: 4px;margin: 2px;font-size: 12px;}
.bmd-result2 .bmd-result-sch.active{Background:#fff;color:#343434;text-align:center;border-radius:3px;width: 100%;padding: 4px;margin: 2px;font-size: 12px;}
.wi-100{width: 100%;}
.text-center{text-align: center};
.text-left{text-align: left;}
.text-right{text-align: right;}
.apnt-navigation > a {color: #a4a4a4;font-size: 35px;padding: 15px;cursor: not-allowed;}
.apnt-navigation > a.active {color: #fff;font-size: 35px;padding: 15px;cursor: pointer;}
.apnt-navigation {
  text-align: center;
}
.apnt_status {background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;border: 1px solid #fff;border-radius: 10px;
  color: #fff;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
}
.bmd_apnt_main {
  margin-top: 5px;
  color: #fff;
}
.bmd-apnt-info {
  display: inline-flex;
  margin: 3px 0;
  width: 100%;
}
.brd-btm-1{
  border-bottom: 1px solid #fff;
}
.brd-rgt-1{
  border-right: 1px solid #fff;
}
.bmd-apnt-info > p {
  padding: 5px;
  text-align: center;
}
.bmd-apnt-info p span.round {
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
}
.bmd-apnt-info p span.status {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}
.bmd-spcl-small{color: #ca1f53;}
.bmd-spcl-listing:hover .bmd-spcl-small{color: #fff;}
.page_loader_div {
  position: sticky;
  text-align: center;
  margin-top: 100px;
}
.bmd-bookng-cnfirmation a {
  text-decoration: none;
  display: block;
}
.noMoreItems {
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-top: 100px;
  text-align: center;
}
.noMoreItems p {
  padding-top: 10px;
}
.no_date_result {
  border-top: 1px solid #fff;
  color: #fff;
  padding-top: 10px;
  text-align: center;
}
.blocked {
  color: #c81e51;
  margin-top: 100px;
  text-align: center;
}
.blocked i {
  font-size: 100px;
}
.blocked p {
  font-size: 20px;
}
.network-offline {
  background: rgba(11, 145, 169, 0.8) none repeat scroll 0 0;
  color: #fff;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  display: none;
}
.network-offline i {
  font-size: 100px;
  margin-top: 100px;
  display: block;
}
.network-offline p {
  font-size: 20px;
}
.bmd-listing .link_select{display: inline-flex;
text-decoration: none;
width: 100%;}
.appointment_loader_div {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99999;
}
.appointment_loader_div img {
  margin-top: 150px;
}
.backdrop {
    background-color: #fff !important;
    }
.loading-container .loading{background-color: rgba(255, 255, 255, 0) !important;}

.main_slide{background: red none repeat scroll 0 0;
color: red;
height: 200px;
width: 100%;}
.slidein-transition {
    -moz-animation: fadein 500ms ease-in;
    -webkit-animation: fadein 500ms ease-in;
    -o-animation: fadein 500ms ease-in;
    animation: fadein 500ms ease-in;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slidein-from-right {
    -moz-animation: slidein-from-right2 500ms;
    -webkit-animation: slidein-from-right2 500ms;
    -o-animation: slidein-from-right2 500ms;
    animation: slidein-from-right2 500ms;
}
@-webkit-keyframes slidein-from-right2 {
    from {
        -webkit-transform:translateX(100%);
    }
    to {
        -webkit-transform:translateX(0%);
    }
}
@-moz-keyframes slidein-from-right2 {
    from {
        -moz-transform:translateX(100%);
    }
    to {
        -moz-transform:translateX(0%);
    }
}
@-o-keyframes slidein-from-right2 {
    from {
        -o-transform:translateX(100%);
    }
    to {
        -o-transform:translateX(0%);
    }
}
@keyframes slidein-from-right2 {
    from {
        transform:translateX(100%);
    }
    to {
        transform:translateX(0%);
    }
}
.slidein-from-left {
    -webkit-animation: slidein-from-left2 500ms;
    -moz-animation: slidein-from-left2 500ms;
    -o-animation: slidein-from-left2 500ms;
    animation: slidein-from-left2 500ms;
}
@-webkit-keyframes slidein-from-left2 {
    from {
        -webkit-transform:translateX(-100%);
    }
    to {
        -webkit-transform:translateX(0%);
    }
}
@-moz-keyframes slidein-from-left2 {
    from {
        -moz-transform:translateX(-100%);
    }
    to {
        -moz-transform:translateX(0%);
    }
}
@-o-keyframes slidein-from-left2 {
    from {
        -o-transform:translateX(-100%);
    }
    to {
        -o-transform:translateX(0%);
    }
}
@keyframes slidein-from-left2 {
    from {
        transform:translateX(-100%);
    }
    to {
        transform:translateX(0%);
    }
}
/* written by developer */
.bmd-list-icon > img {
    width: 75%;
}

.word-out {
/* color: #fff;
    font-family: Arial;
    font-size: 37px;
    font-weight: 700;
*/
  color: #fff;
 
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 14px;
 font-family: nexa_bold;

       
    

}

.chkoutbtn_ap {
  background: #003f6f none repeat scroll 0 0;
  padding:0 0 5px 19px;
}
.chkoutbtn_ap b {
    font-size: 11px;
    background: #003F6F;
    font-weight: normal;
}

.bmd-forward2 > img {
    width: 98%;
}

.bmd-forward2{width:20%;text-align:right;padding-top: 0px;}
.btn-signup-right .bmd-main-btn-signup {
    background: #002B4D !important;
    border: 1px solid #002B4D;
    margin: 0;
    padding: 0;
    width: 96%;
}
.line-brk {
    border-bottom: 1px solid #224765;
      margin: 0 !important;
}

.left-arow > img {
    padding: 5px;
}

.bar
{

  background: #003F6F;
    border-bottom: 0 solid #003f6f !important;
    border-top: 1px solid #003f6f !important;
    border: 0px solid red !important;

}
.head-img-txt > img {margin-bottom: 20px;}

.common-button.button.button-positive.button-clear.button_text.ion-chevron-leftd.txt-color-black {
    width: 34px;
}

body{
background: #003F6F;
  margin: 0;
}
.main-containerlog{
/*  border:1px solid #000;*/
  overflow: hidden;
 
}
.main-containerlog .head_img_pro
{

margin: 0 auto;
   width: 80%;
margin-bottom: 0px;

}

.main-containerlog .word-out {
   color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 3px;
    margin-top: 6px;

     font-family: 'helvetica';
    src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
      src:url('fonts/fontawesome-webfont.otf');
       
    font-weight: lighter;
    font-style: normal;
}
 

.dont-have-accountflog > b {
    font-weight: 400;
}

#signdiv {
    font-family: helvetica;
    font-weight: normal;
        src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
      src:url('fonts/fontawesome-webfont.otf');
 
}

.containerlog{
width: 80%;
margin: auto;
}
.content-toplog{
width: 100%;
float: left;
}
.top-croselog {
    text-align: right;
float: left;
margin-top: 4%;
text-align: right;
width: 100%;
}
.top-croselog i {
color: #fff;
font-size: 26px;
font-weight: 100 !important;

}
.image-contentlog {
 
clear: both;
margin: 0 auto;
text-align: center;
width: 100%;
}
.content-headinglog {
float: left;
margin-top: 5%;
text-align: center;
width: 100%;
}
.content-headinglog h1 {
color: #fff;
    font-family: fantasy;
    font-size: 38px;
    font-weight: 800;
}
.content-pehralog{
width: 100%;
float: left;
margin: 0px;
}
.content-pehralog 
{
float: left;
  margin: 0 0 15px;
text-align: center;
width: 100%;

}
.content-pehralog p {
   color: #c7d5df;
    float: left;
      font-family: helvetica;
    font-size: 17px;
    width: 100%;

        font-family: 'helvetica';
    src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
     font-weight: normal;
    font-style: normal;
      
}
.radiolog {
    float: left;
    margin-bottom: 23px;
    margin-top: 23px;
    text-align: center;
    width: 100%;
}
.footerlog {
background: #e48c08 none repeat scroll 0 0;
float: left;
text-align: center;
width: 100%;
}

.footerlog > h1 {
 color: #fff;
    font-family: cursive;
    font-size: 22px;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
}


.image-contentlog img
{
width: 100%;
}
.bmd-spcl-listing.item > h1 {
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;

}


   .login-viewflog
    {
        background-color: #003F6F;
           overflow: auto;

    }

.word-outflog {
    
    color: #fff;
    font-family: Arial;
        font-size: 32px;
    font-weight: 700;
}

.head-img-txtflog {
    text-align: center;
    width:100%;
}
.login-introflog {

     color: #fff;
}

.login-introflog > p {
   clear: unset;
    color: #c7d5df;
 
    font-size: 17px;
    margin-bottom: 14px;
    margin-top: 21px;
    overflow: scroll;
    text-align: center;
       font-family: 'helvetica';
    src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
      

}


.login-btnflog {
    margin: 0 auto;
    text-align: center;
       width: 80%;
}

.login-btn-facebookflog {
    margin: 0 auto;
    text-align: center;
       width: 80%;
}

 
.login-view .common-button.button.button-positive.button-clear.button_text.ion-chevron-left.txt-color-black {
    color: #fff !important;
}
.login-btnflog button {
    background: #fe9a00 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
      font-family: helvetica;
}

.login-btn-facebookflog button {
    background: #567CC6 none repeat scroll 0 0;
    color: #fff;
     font-family: helvetica;
}


.login-btn-facebookflog .bmd-main-btnflog{ font-size: 15px;}

.facebk-txtflog {
    font-size: 20px;
   /*font-size: 29px;*/
    font-family: nexa_bold;
}
.dont-have-accountflog {
    color: #fff;
    margin-bottom: 0px;
    margin-top: 17px;
    text-align: center;
}
.head-img-txtflog img {
    margin-bottom: 18px;
    
}


.bmd-main-btn2flog {
      background: #567cc6 none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    width: 94%;
}


.word-outflog {
      color: #fff;
    
    font-size: 27px;
    font-weight: 600;

    font-family: 'helvetica';
    src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
      
       
    font-weight: bold;
    font-style: normal;

      
      
}

.common-button.button.button-positive.button-clear.button_text.ion-chevron-left.txt-color-black {
 
    width: 9%;
}

/*.log-with-txt {
 font-size: 13px;
    font-weight: bolder;
    margin-right: 4px;
}*/
.log-with-txt {
    font-family: nexa_bold;
    font-size: 13px;
    font-weight: bolder;
    letter-spacing: 1.3px;
    margin-right: 10px;
}


/* COMMON RADIO AND CHECKBOX STYLES  */
.radiolog input[type=radio],
.radiolog input[type=checkbox]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}
.radiolog input[type=radio] + label:before,
.radiolog input[type=checkbox] + label:before{
  height:12px;
  width:12px;
  margin-right: 2px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #FFF;
}
.radiolog input[type=radio]:checked + label:before,
.radiolog input[type=checkbox]:checked + label:before{
  background:gold;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
.radiolog input[type=radio] + label:before{
  border-radius:50%;
}
.radiolog input[type=checkbox] + label:before{
  border-radius:2px;
}

 
 

.left-buttons {
    width: 100%;
}
.buttons.buttons-left.header-item
{
  width: 100%; 
   padding: 10px;
}

.head-img-txtflogd {
  border-bottom: 1px solid #998799;
    margin: 21px auto 40px;
    text-align: center;
    width: 84%;
}

 
.menu {
    background-color:#002c5b !important;
    }
    .button.button-icon.button-clear.ion-navicon
    {
      color:#fff;
    }
    .head-img-txtflogd > img {
    margin-bottom: 20px;
    margin-top: 20px;
}
.head-img-txtflogd > p {
    margin-bottom: 17px;
    margin-top: 9px;
}




 .filter-page-contant .price-range2
{
 
    margin-bottom: 17px;
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
}

 .filter-page-contant .example {
    border-bottom: 1px solid #e3e3ea;
      border-top: 1px solid #e3e3ea;
}
.price-range2 > p {
   color: #fff;
    font-family: arial;
    font-weight: normal;
    width: 85%;
}


.price-range > p {
   color: #fff;
    font-family: arial;
    font-weight: normal;
    width: 100%;
}

.price-range {
     margin-top: 11px;
    text-align: center;
    width: 90%;
    
}
 
.footerlog ion-item {
    border: 1px solid #E48C08 !important;
}

.dont-have-accountflog a {
    color: #fff;
    text-decoration: none;
}

.dont-have-accountflog a {
   
    padding: 7px;
    
}



.signup_back_btn a {
    float: left;
    margin-left: 5px;
    margin-top: 6px;
}

.bmd-usr-input.red {
    border: 1px solid red;
}
#pass_limit
{
  display: none;
}
.register_page {
    background: #ffc000 none repeat scroll 0 0;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    width: 50%;
}
#appendmsg{display:none;}
#user_login {
    background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;    
    letter-spacing: 1px;
    padding: 7px;
    width: 100%;
    font-family: nexa_bold;
    font-weight: normal;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.user_login-div {
    margin: 0 auto;
  padding-top: 0px;
    background: #003F6F none repeat scroll 0 0;
     text-align: center;
}
/*#user_icon-img
{
       margin: 0;
    padding: 0;
    width: 12%;
}*/
#user_icon-img >img
{
   width: 65%;
}
 
 .filter-page-contant .price-range2 > p {
clear: left;
    color: #777777;
    float: left;
    font-family: Helvetica;
    font-size: 16.5px;
    font-weight: lighter;
    /*margin-left: 15px;*/
    margin-left: 12px;
    overflow: hidden;
    text-align: left !important;
    width: 100%;
}

.head_img_pro > img {
    width: 100%;
}


.list .head_img_pro
{
    margin: 27px auto 24px;
    width: 33%; 
}

.head_img_pro {
    /*margin: 43px auto -1px;*/
    width: 24%;
    margin: 27px auto -1px;     
}
.login-user-div {
    margin-top: 10px;
}
.social_icons > img {
    width: 18%;
}

.social_icons {
    margin-top: 20px;
    text-align: center;
}

.social_icons a img {
      padding: 10px;
    width: 20%;
}
.bmd-usr2 input
{
 margin-top: 0px;
}

.bmd-title-logo2 .head_img_pro
{
      margin: 0 auto 37px;
    width: 24%;
}

.bck-btn {
 
    height: 34px;
 
}
#signup-2 .bmd-usr1{padding: 12px;}
#signup-2 .bmd-usr2 input {
    margin-top: 0;
}
.signup-pge-dsgn .head_img_pro
{
     margin: 0px auto 11px;
    width: 24%;
}
.signup-pge-dsgn .bmd-title-logo
{
   padding-bottom: 0px;
}

.button.button-icon.button-clear.ion-navicon {
    display: none;
}
#endhover:hover {
    background: #002C5B none repeat scroll 0 0 !important;
    color: #fff !important;
}

 
.bar-stable.bar.bar-header {
    display: none;
}
.has-header {
    top: 0px;
}


.filter-page-contant .wordout-yoga {
   color: #777777;
  font-family: helvetica;
    font-size: 17px;
    font-weight: lighter;
       font-family: 'helvetica';
      src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
}

.filter-page-contant .yoga-wordout {
    margin: 17px auto 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 14px;
    text-align: left;
    width: 92%;
}
.filter-page-contant .language-div > b {
    color: #7d7b7a;
    float: left;
    font-family: "helvetica";
    font-size: 16.5px;
    font-weight: lighter;
    width: 100%;
}
.filter-page-contant .right-side-categories {
    clear: inherit;
    cursor: pointer;
    float: right;
    margin: 0 2px 0 0;
    width: 7%;
}
.filter-page-contant .right-side-categories img {
    float: right;
    padding-bottom: 0px;
    padding-top: 1px;
    width: 62%;
}
.filter-page-contant .yoga-wordout > p {
color: #7f7f7f;
float: left;
font-family: "helvetica";
font-size: 16.5px;
font-weight: lighter;
text-align: left !important;
width: 70%;
}
.filter-page-contant .likefilter {
    border-bottom: 1px solid #e3e3ea;
}
 
.filter-page-contant .signup_back_btn {
    background: #003f6f none repeat scroll 0 0;
    height: 45px;
}

.filter-page-contant .left-arow {
 
    float: left;
    width: 12%;
}
.filter-page-contant .filter-div {
    color: #fff;
 
    font-family: "helvetica";
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
    width: 73%;
}
.filter-page-contant .Reset-arrow {
    color: #ffc000;
    float: right;
    font-family: "helvetica";
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    width: 14%;
}
.filter-page-contant .price-range {
    margin-bottom: 23px;
    margin-top: 14px;
    text-align: left;
}
.filter-page-contant .price-range > p {
  color: #777777;
    font-family: Helvetica;
    font-size: 16.5px;
    font-weight: lighter;
   /* margin-left: 15px;*/
   margin-left: 12px;
    text-align: left !important;
    width: 100%;
    src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
}

.filter-page-contant .dollercls {
    color: #777777;
  font-family: Helvetica;
    font-size: 16.9px;
    font-weight: lighter;


  /*   font-family: 'helvetica';
    src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
     font-weight: normal;
    font-style: normal;*/
}
.filter-page-contant .dollersign {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: helvetica;
    font-size: 13px;
    font-weight: normal;
    position: relative;
  right: 25px;
    top: -7px;
    width: 29px;
    z-index: 9999 !important;
}

.filter-page-contant .range-bar {
      background-color: #a8aeb5;
    border-radius: 15px;
    display: block;
    height: 8px;
    position: relative;
    width: 95%;
}

.slider-wrapper .js-decimal {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #747474 !important;
}


 .filter-page-contant .js-decimal {
color: #747474 !important;
font-size: 11px;
z-index: 999 !important;
}


.filter-page-contant .dollersign {
 
    color: #747474 !important;
     
} 



.filter-page-contant .first-star1 {
   float: left;
  width: 16.5%;
}
.filter-page-contant .first-star2 {
     float: left; 
  width: 16.5%;
}
.filter-page-contant .first-star3 {
     float: left;
     width: 16.5%;
}
.filter-page-contant .first-star4 {
    float: left;
  width: 16.5%;
}
.filter-page-contant .first-star5 {
     float: left;
   width: 16.5%;
}
.filter-page-contant .first-star1 img {
width: 100%;
    }
 .filter-page-contant   .first-star2 img {
width: 100%;
    }
  .filter-page-contant  .first-star3 img {
width: 100%;
    }
  .filter-page-contant  .first-star4 img {
width: 100%;
    }
  .filter-page-contant  .first-star5 img {
width: 100%;
    }

.filter-page-contant .rating-txt {
    margin: 10px auto 11px;
    width: 92%;
}

.rating-div {
    border-bottom: 1px solid #e3e3ea;
    display: none;
    padding-bottom: 12px;
}
.filter-page-contant .main-images-star {
   
    margin: 0 auto;
    overflow: auto;
    width: 97%;
}


.filter-page-contant .rating-div b {
  color: #515151;
    font-family: helvetica;
    font-size: 16.5px;
    font-weight: lighter;
      src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
}

.filter-page-contant .norating {
    float: left;
    width: 12%;


 
}

.filter-page-contant .norating img {
 
    width: 100%;
    
}
.filter-page-contant .countrating{
   background: #F4F4F4 none repeat scroll 0 0;
    border-radius: 11px;
    float: left;
    margin: 0 auto;
    padding: 18%;
    text-align: center;
    width: 100%;
    color:#CAC8C8;
}

.language-div {
    border-bottom: 1px solid #e3e3ea;
    float: left;
    margin: 6px 0 5px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 10px;
    width: 100%;
}
.price-range .dollercls
{

    font-size: 15px;
}


.filter-page-contant .language-icon {
 
    float: right;
    overflow: inherit;
    width: 4%;
    margin-right: 7px;
}
.filter-page-contant .language-icon > img {
    width: 100%;
    padding-top: 4px;
}

.common-button.button.button-positive.button-clear.button_text.icon.ion-navicon.txt-color-black {
    color: #fff !important;
}

.bmd-field.error {
    float: left;
}

.Reset-arrow {
    float: right;
}

.signup_back_btn
{
    float: right;
    overflow: auto;
    /*margin-top: 18px*/
    width: 100%;
    height: 28px;
    margin-top: 3px;
}

.filter-div1 {
    src:url('fonts/Nexa Bold.eot') ;
   color: #fff;
    float: left;
    font-family: nexa_bold;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    width: 86%;

}

.filter-div {
    src:url('fonts/Nexa Bold.eot') ;
   color: #fff;
 
    font-family: nexa_bold;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    width: 86%;

}

.Reset-arrow {
    src:url('fonts/Nexa Light.otf');
    color: #ffc000;
    float: right;
    font-family: nexa_bold;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
   /* font-size: 18px;*/
/*
     font-family: 'helvetica';
    src:url('fonts/avenir-lt-45-book.ttf') ;
    src:url('fonts/Nexa Bold.eot') ;
     src:url('fonts/Nexa Light.otf');
     font-weight: normal;
    font-style: normal;*/
}
.signup_back_btn{display: none}



.filter-page {
 
    
}

.gender-div {
    border-bottom: 1px solid #e3e3ea;
    overflow: auto;
    padding-bottom: 0px;
    width: 100%;
}
.male {
        float: left;
    margin: 0 auto;
    text-align: center;
    width: 46%;
}


.female {
 
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 46%;
}

.male label {
    margin-left: 9px;
        color: #7d7b7a;
    font-family: helvetica;
    font-size: 16.5px;
    font-weight: lighter;
    position: relative;
    top: -4px;
}

  
.female label {
    margin-left: 9px;
        color: #7d7b7a;
    font-family: helvetica;
    font-size: 16.5px;
    font-weight: lighter;
    position: relative;
    top: -4px;
}
.language-div-main {
    float: left;
    margin-bottom: 5px;
    margin-top: 0;
    width: 100%;
}
#languages-id {
    color: #7d7b7a;
    float: left;
    font-family: helvetica;
    font-size: 16.5px;
    font-weight: lighter;
    text-align: center;
}
.lang_type_eng {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 46%;
}


.lang_type_sap {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 46%;
}

.lang_type_eng label {
    margin-left: 9px;
        color: #7d7b7a;
    font-family: helvetica;
    font-size: 16.5px;
    font-weight: lighter;
    position: relative;
    top: -4px;
}

  
.lang_type_sap label {
    margin-left: 9px;
        color: #7d7b7a;
    font-family: helvetica;
    font-size: 16.5px;
    font-weight: lighter;
    position: relative;
    top: -4px;
}
.gender-txt {
    float: left;
    text-align: center;
    width: 22%;
    color: #7d7b7a;
    font-family: helvetica;
    font-size: 16.5px;
    font-weight: lighter;
    padding-left: 12px;
}

.gendr-div-main {
    float: left;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 100%;
}


input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid #fff;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px #DB8404 inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:#DB8404;
}


#custom-fieldset div .ui-radio label span .ui-icon-radio-on {
    background-color: red !important;
}


.image-workout-div {
    margin-bottom: 14px;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 25px;
   /* padding-right: 20px;*/
    width: 100%;
}
  
.checkboxd-div1{
  margin-bottom: 14px;
      margin-bottom: 5px;
    margin-top: 6px;
      width: 100%;
}

.checkboxd-div2{
   margin-bottom: 5px;
    margin-top: 6px;
      width: 100%;
}

.checkboxd-div3{
  margin-bottom: 5px;
    margin-top: 6px;
      width: 100%;
}

.checkboxd-div4{
  margin-bottom: 5px;
    margin-top: 6px;
      width: 100%;
}

.checkboxd-div5{
  margin-bottom: 5px;
    margin-top: 6px;
      width: 100%;
}

.checkboxd-div6{
    margin-bottom: 5px;
    margin-top: 6px;
      width: 100%;
}

.checkboxd-div7{
  margin-bottom: 5px;
    margin-top: 6px;
      width: 100%;
}
.checkboxd-div8{
 
      width: 100%;
}
.checkboxd-div9{
  margin-bottom: 14px;
    margin-top: 14px;
      width: 100%;
}
.checkboxd-div1 > label {

    color: #fff;
    float: left;
    /*margin-left: 10px;*/
}


.image-workout-div > label {

    color: #fff;
    float: left;
    /*margin-left: 10px;*/
}
.checkboxd-div2 > label {
    color: #fff;
    float: left;
   /* margin-left: 10px;*/
}
.checkboxd-div3 > label {
    color: #fff;
    float: left;
   /* margin-left: 10px;*/
}


.checkboxd-div4 > label {
    color: #fff;
    float: left;
   /* margin-left: 10px;*/
}

.checkboxd-div5 > label {
    color: #fff;
    float: left;
  /*  margin-left: 10px;*/
}
.checkboxd-div6 > label {
    color: #fff;
    float: left;
   /* margin-left: 10px;*/
}

.checkboxd-div7 > label {
    color: #fff;
    float: left;
   /* margin-left: 10px;*/
}

.checkboxd-div8 > label {
    color: #fff;
    float: left;
   /* margin-left: 10px;*/
}
.checkboxd-div9 > label {
    color: #fff;
    float: left;
   /* margin-left: 10px;*/
}
.div-coloor {
    background: #003F6F none repeat scroll 0 0;
    position: relative;
    top: -15px;
}

.filter-page {
    background: #fff none repeat scroll 0 0;
    
}
/*.gender-div{display: none;}*/

.filter-page-contant {
 
       border: 0px solid red;
       
}

#image-workout img {
    width: 8%;
}
#first-btn {
    background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px;
    text-align: center;
    width: 94%;
}

#first-btn01 {
 background: #fe9a00 none repeat scroll 0 0;
    border: 1px solid #fe9a00;
    color: #fff;
    font-family: nexa_bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto 11px;
    padding: 8px;
    text-align: center;
    width: 85%;
}
/********************************/
li.bmd-listing:nth-child(2) .head-img-txtflog > p {
    letter-spacing: 1px;
}
.head-img-txtflog > b {
  
    font-family: nexa_bold;
 
    src:url('fonts/Nexa Light.otf') ;
       font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
}
.signup-btn {
 background: #003f6f none repeat scroll 0 0;
    text-align: center;
}
.signup-btn button {
    background-color: #fe9a00;
    color: #fff;
    font-family: "helvetica";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 7px;
    text-align: center;
    width: 100%;
}

#login-user .bmd-usr {
   /* margin-bottom: 12px;*/
}
#login-user .bmd-usr {
    margin-top: 0px;
}
/**********************************************/

/********iphone**************/



/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px){ 
 
  .word-out {

    border:10px solid red;
}
}*/
.bmd-usr1 img {
    width: 75%;
}

.clr
{
  color:#DB8404;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px)and (orientation : portrait){ 

  .bmd-bg-sec2 img {
    width:100% !important;
       height: 292px;
  }
  .head_img_pro {
    margin: 50px auto -1px;
    width: 24%;
  }
  .word-out {
      margin-bottom: 10px !important;
      margin-top: 20px;
  }
  form.ng-pristine {
    margin-top: 0px !important;
  }
  .bmd-usr {
      margin-top: 6px;
   }
  .user_login-div .bmd-main-btn {
     margin-top: 10px;
   }
}
/***************************/
.rotate2
{
   transform: rotate(180deg);
}
.bmd-usr-wrapper {
    margin: auto;
    width: 87%;
}
#top_go_back{
  transform: rotate(180deg);
}
#login_user_id{
  /*height:26px !important;*/
  height:35px !important;
}
#user_paswd {
    height: 42px !important;
    padding-left: 9px !important;
}
#top_circle{
  padding:15px 15px 0;
}
#cate-slide .likefilter {
    border-bottom: 1px solid #e3e3ea;
}
#chkbox_img{
  
}
.bmd-usr2 .bmd-usr-input.ng-pristine.ng-untouched.ng-valid {
    padding-top: 7px;
}
.bmd-usr2 .bmd-usr-input.ng-pristine.ng-untouched.ng-valid-email.ng-invalid.ng-invalid-required {
    padding-left: 13px !important;
    padding-top: 2px;
}
#login-user .bmd-usr2 .bmd-usr-input.ng-pristine.ng-untouched.ng-valid-email.ng-invalid.ng-invalid-required {
    padding-left: 8px !important;
    padding-top: 2px;
}
.bmd-usr.bmd-usr:nth-child(13) .bmd-usr-input {
    height: 34px !important;
    padding-left: 13px !important;
}
.bmd-usr-input.ng-untouched.ng-valid.ng-dirty.ng-valid-parse {
    padding-left: 16px !important;
    padding-top: 0px;
}
.bmd-usr:nth-child(3) .bmd-usr-input.ng-pristine.ng-untouched.ng-valid {
    padding-top: 13px !important;
}
.bmd-usr:nth-child(6) .bmd-usr-input.ng-pristine.ng-untouched.ng-valid {
    padding-top: 13px !important;
}
.bmd-usr:nth-child(9) {
    margin-top: 6px;
}
.bmd-usr:nth-child(9) .bmd-usr-input.ng-pristine.ng-untouched.ng-valid-email.ng-invalid.ng-invalid-required {
    padding-top: 4px;
}
.bmd-usr:nth-child(12) .bmd-usr-input.ng-pristine.ng-untouched.ng-valid-email.ng-invalid.ng-invalid-required {
    padding-top: 1px;
}
.bmd-usr:nth-child(15) {.bmd-usr:nth-child(15) .bmd-usr-input.ng-pristine.ng-untouched.ng-valid
    margin-top: 0;
}
.bmd-usr:nth-child(15) .bmd-usr-input.ng-pristine.ng-untouched.ng-valid {
    padding-top: 12px;
    padding-left: 15px !important; 
}
.bmd-usr:nth-child(13) {
    margin-top: 9px;
}
#login-user .bmd-usr:nth-child(5) {
    margin-top: 0px;
}
.ng-binding {
    float: left;
    width: 50%;
}

.error_block.ng-binding{
 width: 100%;

}
.error_block li:nth-child(2) {
   text-align: right;
}
#hello .checkbox-custom, .radio-custom {
 height: 11px;
    left: 12px;
    opacity: 0;
    position: relative;
    top: 4px;
    width: 48%;
   /* z-index: 9999 !important;*/
}
.bmd-list .bmd-listing:nth-child(5) {
  margin-top: 7px !important;
}
.ng-valid-email.ng-dirty.ng-valid.ng-valid-required.ng-valid-parse.ng-submitted .success_block {
    width: 100%;
}
.bmd-usr:nth-child(1) {
    padding-top: 5px !important;
} 
#login-user .bmd-usr1 {
    border-right: 0 solid #fff;
    padding: 8px 8px 0;
}
.bmd-usr-wrapper .bmd-usr1 {
    border-right: 0 solid #fff;
    padding: 7px 8px 5px;
}
.bmd-usr-wrapper  .bmd-usr {
    margin-top: 0px;
}
.bmd-usr .bmd-usr-input.ng-untouched.ng-valid.ng-dirty.ng-valid-parse {
    padding-top: 12px;
}
.bmd-usr-wrapper .bmd-usr:nth-child(9) {
    margin-top: 6px;
}
.bmd-usr-wrapper .bmd-usr:nth-child(13){
  margin-top: 6px;
}
#login-user .bmd-usr-input.ng-untouched.ng-valid.ng-dirty.ng-valid-parse {
    padding-top: 0;
}
/*.bmd-usr-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched {
    border: 2px solid #fe9a00;
}*/
 .likefilterd
 {
  border-bottom: 1px solid #e3e3ea;
 }

 #login-user .bmd-usr2:nth-child(2) #login_user_id {
    /*padding-top: 10px;*/
    padding-top: 5px;
}
#login-user .bmd-usr-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required {
    padding-top: 5px;
}
.bmd-usr:nth-child(15) .bmd-usr1 {
    padding: 6px 8px 3px;
}
/***********************/
#hello > label {
    text-align: left;
    width: 82%;
}
#hello > span {
    float: left;
    width: 17% !important;
}
 
.checkbox-custom-label, .radio-custom-label {
    top: -24px !important;
    left: 7px;
}
.chkoutbtn_ap .checkbox-custom-label, .radio-custom-label {
    left: 0;
    top: 0 !important;
}
.bmd-list .bmd-listing:nth-child(3) .head-img-txtflog {
    margin-top: 20px;
}
.bmd-list .bmd-listing:nth-child(2) {
    padding-top: 0;
}
.bmd-listing:nth-child(1) {
    padding-bottom: 0;
}
.bmd-list:nth-child(1) .head-img-txtflog .word-out {
    margin-bottom: 5px !important;
}
.sidebar {
  width: 210px;
  height: 100%;
  position: fixed;
  background: #003F6F;
   height: 100%;
    right: 0;    
    top: 0px;   
     padding: 20px 0; 
     overflow: scroll;
 }

 #jjas {
  width: 210px;
  height: 100%;
  position: fixed;
  background: #003F6F;
   height: 100%;
    right: 0;    
    top: 0px;   
     padding: 20px 0; 
     overflow: scroll;
 }

.sidebara {
   background: #003f6f none repeat scroll 0 0;
    
    float: right;
    height: 100%;
 
   
    padding: 20px 0;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
}
 #hello {
    padding-left: 25px;
    padding-right: 4px;
      overflow: hidden;
}
#image-workout > label {
    float: left;
    width: 82%;
}
#image-workout > span {
    float: left;
    width: 17%;
}
#image-workout img {
    padding-left: 7px;
    width: 65%;
}
.checkboxd-diva {
    color: #fff;
    float: left;
    width: 100%;
}
.checkboxd-diva > span {
    float: right;
  
 
}
.checkboxd-diva > input {
  float: initial;
    left: 28px;
    position: relative;
    top: 2px;
}

.languages .checkbox-custom {
    height: 25px;
    left: 30px;
    position: relative;
    top: 9px;
   /* z-index: 999 !important;*/
}
#cate-slidea .likefilter {
    border-bottom: 1px solid #e3e3ea;
}
.checkboxd-diva > input {
  float: initial;
    left: 28px;
    position: relative;
    top: 2px;
}
.checkboxd-diva > label {
    float: left;
    padding-top: 5px;
    text-align: left;
    width:60%;
}
/*.languages {
    border: 0px solid red;
   height: 100vh !important;
    overflow: auto;
    padding-left: 25px;
    padding-right: 0;
    width: 100%;
}*/
.languages {
    border: 0 solid red;
    height: 87vh !important;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 25px;
    padding-right: 0;
    width: 100%;
}
.languages .checkbox-custom-label, .radio-custom-label
{
  top:0px !important;
}
#hello > span {
    float: left;
    height: 37px;
    width: 17% !important;
}



/**************discover*******************************/
.discover-content {
    float: left;
    height: 90vh;
    overflow: scroll;
    width: 100%;
}
.content-part {
   /* background: rgba(0, 0, 0, 0) url("../img/Therapist.png") no-repeat scroll 0 0 / 100% 100%;*/
    float: left;
    margin-top: 4px;
    width: 100%;
}

.content-part:nth-child(1) {
    margin-top: 0;
}
.top-of-content{
  width: 100%;
  float: left;
  text-align: right;
}
.middel-part {
    float: left;
    margin-top: 55px;
    width: 100%;
}
.left-part-middel{
  width: 50%;
  float: left;
}
.text-part-left{
  width: 100%;
  float: left;
  padding-left: 10px;
}
.text-part_img > img {
    float: left;
}
.text-part_img > p {
    float: left;
    margin-left: 3px !important;
    margin-top: -4px !important;
}
.text-part_img {
    float: left;
    margin-bottom: 12px;
    width: 100%;
}
.text-part-left h1 {
    font-family: helvetica;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0;
} 

.text-part-left p {
    font-family: helvetica;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 5px;
}
.text-part-left > img {
  margin-bottom: 8px;
}

.text-right-part {
  float: left;
  text-align: right;
  width: 46%;
}

.text-right-part h1 {
    font-family: helvetica;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 66px;
    padding-right: 0;
}

.text-part-left span {
  font-size: 23px;
  position: relative;
  top: -4px;
}

#discover
{
  display: none;
   overflow: auto;
}
/***********************************/

.bar2
{   -moz-user-select: none;
    background-color: #003F6F;
    background-size: 0 auto;
    border-bottom: 1px solid #ddd;
    border-style: solid;
    border-top: 1px solid transparent;
    border-width: 1px 0;
    box-sizing: border-box;
    clear: unset;
    display: flex;
    height: 44px;
    left: 0;
    overflow: -moz-hidden-unscrollable;
    padding: 0 5px;
     
    right: 0;
    transform: translate3d(0px, 0px, 0px);
    width: 100%;
    z-index: 9;
}
.togo_backpage{
  width:23%;
  float: left;
}
.togo_backpage_img {
    float: left;
    margin-top: 10px;
    padding-left: 6px;
    width: 71px;
}
.togo_backpage_img > img {
    width: 25%;
}
.back_page {
    transform: rotate(180deg);
}
.search_page_head {
    float: left;
    text-align: center;
    width: 52%;
}
.head_search {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.head_search > h1 {
    color: #fff;
    font-family: nexa_bold;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
   /* padding-top: 2px;*/
}
.page_notice{
  width: 31px;
  float: left;
}
.notification {
    float: left;
    margin-top: 13px;
    width: 100%;
}
.notification > img {
    width: 48%;
}
.page_filter {
    float: left;
    margin-left: 11px;
    width: 31px;
}
.filter_img {
    float: left;
    margin-top: 12px;
    padding-top: 1px;
    width: 100%;
}
.filter_img > img {
     width: 53%;
}


.spelizationsids
{

  display: none;
}


#searchlop {
    border-bottom: 1px solid #F5A623;
    overflow: auto;
 background: rgba(0, 0, 0, 0) url("../img/Therapist.png") no-repeat scroll 0 0 / 100% 100%;
 height:127px;
}

#not_found {
    border: 1px solid #000;
    overflow: auto;
 background: rgba(0, 0, 0, 0) url("../img/not_found.png") no-repeat scroll 0 0 / 100% 100%;
 height:127px;
}
.selecedgender
{
  display: none;
}
.bmd-usr:nth-child(9) .bmd-usr-input.ng-pristine.ng-valid-email.ng-invalid.ng-invalid-required.ng-touched {
    padding-left: 13px !important;
    padding-top: 4px !important;
}

#searcg-buttonfun
{


    background: #567cc6 none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    width: 94%;
 
}

.filter-search-page {
    border: 1px solid;
    overflow: auto;
}

.scroll.scroll02 {
    transform: translate3d(0px, 0px, 0px) scale(1) !important;
}
.success_block.ng-binding
{
     width: 100%;
}

  