<ion-modal-view  class="sign_form">
  <ion-header-bar>
  <button ng-click="closeLogin()" class="common-button button button-positive button-clear button_text ion-chevron-leftd txt-color-black"  id="top_go_back" style='background-image: url("img/go.png"); background-repeat: no-repeat;background-size: 26px auto;'></button>
   <!--  <div class="bmd-spclity-head">LogIn</div> -->
  </ion-header-bar>
  <ion-content  class="theme-bg">
<!--     <div class="bmd-title-logo">
      <img src="img/bmd-signinlogo.png">
    </div> -->

  <div class="head-img-txtflog">
       <div class="head_img_pro">
      <img src="img/icon-transparent.png">
      </div>
      <p class="word-out">MY TRAINER</p>

  </div>



<div class="login-user-div"></div>
<div class="bmd-usr-wrapper">
    <form  name="loginform" ng-submit="loginform.$valid && doLogin()">
      
        
        <div id="login-user">
    <div class="bmd-usr" style="padding-top: 11px;">
      <div  style="padding:5px" class="bmd-usr1" id="user_icon-img"><img src="img/user_new.png"></div>
      <div class="bmd-usr2">
        <input id="login_user_id" class="bmd-usr-input" name="email" type="email" placeholder="Enter your E-Mail" ng-model="loginData.email" required>
      </div>
    </div>
    
    <div class="line-brk" style="margin-bottom:18px;"></div>
<!--   <div class="bmd-field error" ng-show="submitted  && loginform.email.$error.required">E-Mail is required.</div>
    <div class="bmd-field error" ng-show="loginform.email.$touched && loginform.email.$error.email">Invalid E-Mail</div> -->
    <div class="bmd-usr">
    <div class="bmd-usr1" id="user_icon-img"><img src="img/lock_new.png"></div>
    <div class="bmd-usr2">
    <input id="user_paswd" class="bmd-usr-input" name="password" type="password" placeholder="Password" ng-model="loginData.password" required>
    </div>
    </div>
    </div>
    
    <div class="bmd-field error" ng-show="submitted  && loginform.password.$error.required">Password is required.</div>
   <div class="error_block" ng-show="loginError">
          <ul>
            <li  ng-repeat="msg in loginErrorMsg">{{msg.message}}</li>
          </ul>
        </div>
    <div class="user_login-div">

    <button id="user_login" class="bmd-main-btn"    ng-click="removeTask2()">LOGIN</button>
    </div>
    
    <!-- <div class="bmd-social">
    <button class="bmd-fb-btn fbbg txt-color-white"><img src="img/bmd-fb.png" style="vertical-align: -7px;
padding-right: 20px;">Sign in with Facebook</button>
    <button class="bmd-ggle-btn gglebg txt-color-white"><img src="img/bmd-google.png" style="vertical-align: -7px;
padding-right: 20px;">Sign in with Google</button>
    </div> -->
    </form>
<!--     <button class="bmd-main-btn" ng-click="submitted=false; join()">Sign UP</button> -->
  </div>
  </ion-content>
</ion-modal-view>
